/* DON'T TOUCH THIS! */
html, body {
    margin: 0;
    padding: 0;
}
/* DON'T TOUCH THIS! */

body {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;

    font-family: Roboto, sans-serif;
}

.container + .container {
    display: flex;
    flex-direction: column;

    margin: 5vh;
}

h1.title,
h1.section-title {
    text-transform: uppercase;
}

h1.title {
    font-size: 4em;
    color: #174885;
}

h1.section-title {
    font-size: 3em;
    color: #3278cf;

}

/* Your main goal is to style and improve the HTML given to you. You have to
center all the text on the page & set the font to Roboto, capitalize all the
titles, give the main title a font size of 4em and the section titles a size
of 3em, and give all the sections an overall margin of 10% of the height of
the page. The section titles must have a color of #3278cf, while the main title
must have a color of #174885. Good luck! */
